@mixin background($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
}

.company__creations {
  display: grid;
  margin: auto;
  margin-top: 5rem;
  gap: 1rem;
  font-size: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  font-family: $Josefin-ff;
  font-weight: $Josefun-fw;
  height: 100%;
  width: 90%;
  text-transform: uppercase;

  .creation__heading {
    text-align: center;
  }

  .creation__container {
    color: white;
    height: 10rem;
    display: flex;
    line-height: 1.1;
    position: relative;
    display: grid;
  }

  .creation__container:nth-child(2) {
    background-image: url(./images/mobile/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(3) {
    background-image: url(./images/mobile/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(4) {
    background-image: url(./images/mobile/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(5) {
    background-image: url(./images/mobile/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(6) {
    background-image: url(./images/mobile/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(7) {
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(8) {
    background-image: url(./images/mobile/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creation__container:nth-child(9) {
    background-image: url(./images/mobile/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .creations {
    position: absolute;
    left: 5%;
    bottom: 15%;
  }

  .creation__reveal{
    margin: auto;
    border: none;
    background-color: white;
    border: 1px solid black;
    font-size: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    letter-spacing: 4px;
    font-weight: 400;
    width: 40%;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
  }

  @media (width > 500px){
    
    .company__creations{
      grid-template-rows: 1fr 1fr;
      grid-template-columns: auto;
    }

    .creation__container{
      max-width: 10rem;
    min-height: 20rem;
    }

    .creation__container:nth-child(2) {
      background-image: url(./images/desktop/image-deep-earth.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(3) {
      background-image: url(./images/desktop/image-night-arcade.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(4) {
      background-image: url(./images/desktop/image-soccer-team.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(5) {
      background-image: url(./images/desktop/image-grid.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(6) {
      background-image: url(./images/desktop/image-from-above.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(7) {
      background-image: url(./images/desktop/image-pocket-borealis.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(8) {
      background-image: url(./images/desktop/image-curiosity.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .creation__container:nth-child(9) {
      background-image: url(./images/desktop/image-fisheye.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}
