@mixin putCenter($gap){
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section.company__portfolio {
  @include putCenter(1rem);
  width: 90%;
  margin: auto;
  position: relative;
    .portfolio__text{
        @include putCenter(1rem);
        text-align: center;
        h2{
            font-family: $Josefin-ff;
            font-weight: $Josefun-fw;
            text-transform: uppercase;
        }

        p{
            font-family: $Alata-ff;
            font-weight: $Josefun-fw;
            color: $Very-Dark-Gray;
            line-height: 1.5;
        }
        @media (width > 500px){
          position: absolute;
          background-color: white;
          width: 60%;
          right: 0;
          padding: 3rem;

          h2{
            font-size: 2rem;
          }
          p{
           text-wrap: pretty;
          }
        }
    }
}

@media (width > 500px){
  section.company__portfolio{
    flex-direction: row;
    align-items: end;
  }

}
